<% title = 'Photo Gallery' %>
<%- layout('../site/layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Photo Gallery</h1>
        <p>Modifica o cancella le immagini della tua galleria artistica personale.</p>
        <br/>

        <% if(total >= 6){ %>
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            Spiacente, hai raggiunto il numero massimo di immagini!
        </div>
        <% } else { %>
        <p><a href="/extranet/gallery/add" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Aggiungi Foto</a></p>
        <% } %>
        <br/>

        <div class="table-responsive">
            <table class="table" id="js-full-gallery">
                <thead>
                <tr>
                    <th>Titolo</th>
                    <th>Tecnica</th>
                    <th>Dimensione</th>
                    <th>Principale</th>
                    <th>Operazioni</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="col-xs-4">
        <%- include sidebar.ejs %>
    </div>
</div>
