<%- layout('../site/layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Photo Gallery</h1>
        <p>Modifica o cancella le immagini della tua galleria artistica personale.</p>
        <br/>
        <p><a href="/extranet/gallery/add" class="btn btn-default">Aggiungi Foto</a></p>
        <br/>

        <div class="table-responsive">
            <table class="table" id="js-full-gallery">
                <thead>
                <tr>
                    <th>Titolo</th>
                    <th>Tecnica</th>
                    <th>Dimensione</th>
                    <th>Operazioni</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="col-xs-4">
        <%- include sidebar.ejs %>
    </div>
</div>
