<% title = 'Login' %>
<%- layout('../site/layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Login</h1>
        <p class="lead">L'accesso a quest'area è concesso solamente agli espositori già iscritti.</p>
        <p>Inserisci la tua E-mail e la Password forniti da Quick-art prestando attenzione alle Maiuscole e minuscole.</p>
        <p>&nbsp;</p>

        <form id="js-login-form" action="/extranet" method="post" enctype="application/x-www-form-urlencoded">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label><span class="text-danger">*</span> Indirizzo E-mail</label>
                        <input type="email" class="form-control" name="usermail" id="usermail" value="" required="">
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label><span class="text-danger">*</span> Password</label>
                        <input type="password" class="form-control" name="pwd" id="pwd" value="" required="">
                    </div>
                </div>
            </div>
            <p><a href="/registrazione">Registrazione</a> | <a href="/extranet/password">Hai dimenticato la password?</a></p>
            <input type="submit" class="btn btn-default" value="Login">
        </form>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p><a href="/registrazione"><img src="/images/registrati.jpg" class="img-responsive" alt="Registrazione"/></a></p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include ../site/adsbygoogle-300-250.ejs %>
            </div>
        </div>
    </div>
</div>
