<%- layout('../site/layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Login</h1>
        <p class="lead">L'accesso a quest'area è concesso solamente agli espositori già iscritti.</p>
        <p>Inserisci la tua E-mail e la Password forniti da Quick-art prestando attenzione alle Maiuscole e minuscole.</p>
        <p>&nbsp;</p>

        <div class="response"></div>
        <form id="" method="" enctype="multipart/form-data">
            <div class="form-group">
                <label>Indirizzo E-mail</label>
                <input type="email" class="form-control" name="" id="" value="" required="">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="" id="" value="" required="">
            </div>
            <p><a href="/registrazione">Registrazione</a> | <a href="">Hai dimenticato la password?</a></p>
            <input type="submit" class="btn btn-default" value="Login">
        </form>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include ../site/adsbygoogle-300-250.ejs %>
            </div>
        </div>
    </div>
</div>
