<% title = 'Aggiungi Articolo' %>
<%- layout('../site/layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Aggiungi Articolo</h1>
        <p>Inserisci quì le tue news, gli eventi, le mostre personali, e gli avvenimenti artistici che ritieni opportuno segnalarci.</p>
        <p>&nbsp;</p>

        <div id="result"></div>
        <form id="js-articles-add-form" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label><span class="text-danger">*</span> Titolo</label>
                <input type="text" class="form-control" name="fullname" id="fullname" value="" required="">
            </div>
            <div class="form-group">
                <label><span class="text-danger">*</span> Sotto Titolo</label>
                <input type="text" class="form-control" name="subtitle" id="subtitle" value="" required="">
            </div>
            <div class="form-group">
                <label><span class="text-danger">*</span> Descrizione</label>
                <textarea class="form-control" name="description" id="description" required="" rows="10"></textarea>
            </div>
            <div class="form-group">
                <label><span class="text-danger">*</span> Immagine</label>
                <input type="file" name="picture" id="picture" accept="image/*" required="">
                <p class="help-block">(Dimensioni minime: 640x480 px; Peso MAX consentito: 2 MB)</p>
            </div>
            <div class="form-group">
                <label><span class="text-danger">*</span> Tags (separare le parole con una virgola e uno spazio)</label>
                <input type="text" class="form-control" name="tags" id="tags" value="" data-role="tagsinput" required="">
            </div>
            <input type="hidden" name="slug" id="slug" value="">
            <input type="submit" class="btn btn-default" value="Salva">
        </form>
    </div>
    <div class="col-xs-4">
        <%- include sidebar.ejs %>
    </div>
</div>
