<% title = 'Password Smarrita' %>
<%- layout('../site/layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Password Smarrita</h1>
        <p>Per ottenere una copia della vostra password, vi invitiamo ad inserire di seguito l'indirizzo e-mail con cui vi siete registrati. A seguito di tale registrazione, riceverete un e-mail con la nuova password.</p>
        <p>&nbsp;</p>

        <div id="result"></div>
        <form id="js-password-form" action="/extranet" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label>Inserisci il tuo Indirizzo Email</label>
                <input type="email" class="form-control" name="usermail" id="usermail" value="" required="">
            </div>
            <input type="submit" class="btn btn-default" value="Login">
        </form>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p><a href="/registrazione" class=""><img src="/images/registrati.jpg" class="img-responsive" alt=""/></a></p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include ../site/adsbygoogle-300-250.ejs %>
            </div>
        </div>
    </div>
</div>