<div class="list-group">
    <a href="/extranet/dashboard" class="list-group-item active">Dashboard</a>
    <a href="/extranet/profile" class="list-group-item">Modifica Profilo</a>
    <a href="/extranet/gallery" class="list-group-item">Photo Gallery</a>
    <a href="/extranet/logout" class="list-group-item">Esegui Logout</a>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <%- include ../site/adsbygoogle-300-250.ejs %>
    </div>
</div>
