<div class="list-group">
    <a href="/extranet/dashboard" class="list-group-item active"><span class="badge"><span class="glyphicon glyphicon-dashboard"></span></span>Dashboard</a>
    <a href="/extranet/profile" class="list-group-item"><span class="badge"><span class="glyphicon glyphicon-user"></span></span>Modifica Profilo</a>
    <a href="/extranet/gallery" class="list-group-item"><span class="badge"><span class="glyphicon glyphicon-camera"></span></span>Photo Gallery</a>
    <a href="/extranet/logout" class="list-group-item"><span class="badge"><span class="glyphicon glyphicon-off"></span></span>Esegui Logout</a>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <%- include ../site/adsbygoogle-300-250.ejs %>
    </div>
</div>
