<p>administrator_index.ejs</p>

<form action="/administrator/login" enctype="multipart/form-data" method="post">
    <input type="text" name="phone" id="phone" value="">
    <input type="file" name="photo">
    <input type="submit" value="GO">
</form>