<%- layout('site_layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Photo Gallery</h1>
        <p>Modifica o cancella le immagini della tua galleria artistica personale.</p>
        <br/>
        <p><a href="/extranet/gallery/add" class="btn btn-default">Aggiungi Foto</a></p>
        <br/>

        <div class="table-responsive">
            <table class="table" id="example">
                <thead>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-4">
        <%- include extranet_sidebar.ejs %>
    </div>
</div>
