<%- layout('site_layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Modifica Profilo</h1>
        <p>Accusamus aliquam assumenda doloremque, doloribus error et ipsam magnam modi mollitia, nisi porro quidem rem similique soluta ullam veritatis voluptate. Inventore, officiis!</p>
    </div>
    <div class="col-xs-4">
        <%- include extranet_sidebar.ejs %>
    </div>
</div>
