<%- layout('site_layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Registrazione</h1>
        <p>Accusamus aliquam assumenda doloremque, doloribus error et ipsam magnam modi mollitia, nisi porro quidem rem similique soluta ullam veritatis voluptate. Inventore, officiis!</p>
        <p>&nbsp;</p>

        <div class="response"></div>
        <form id="" method="" enctype="multipart/form-data">
            <div class="form-group">
                <label>Nome & Cognome</label>
                <input type="text" class="form-control" name="" id="" value="" required="">
            </div>
            <div class="form-group">
                <label>Indirizzo E-mail</label>
                <input type="email" class="form-control" name="" id="" value="" required="">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="" id="" value="" required="">
            </div>
            <div class="form-group">
                <label>Regione</label>
                <select class="form-control" name="" id="" required="">
                    <option value="">-</option>
                </select>
            </div>
            <div class="form-group">
                <label>Categoria</label>
                <select class="form-control" name="" id="" required="">
                    <option value="">-</option>
                </select>
            </div>
            <div class="form-group">
                <label>Breve Descrizione</label>
                <textarea class="form-control" name="" id="" rows="15" required=""></textarea>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" id="" value="" required=""> Accetto il regolamento</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" id="" value="" required=""> Ho preso visione dell’informativa al trattamento dei dati</label>
            </div>
            <input type="submit" class="btn btn-default" value="Registrati">
        </form>
    </div>
    <div class="col-xs-4">

        <div class="panel panel-default">
            <div class="panel-body">
                Basic panel example
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                Basic panel example
            </div>
        </div>

    </div>
</div>