<%- layout('site_layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Sicilia</h1>
        <p>Accusamus aliquam assumenda doloremque, doloribus error et ipsam magnam modi mollitia, nisi porro quidem rem similique soluta ullam veritatis voluptate. Inventore, officiis!</p>
    </div>
    <div class="col-xs-4">

        <div class="list-group">
            <a href="#" class="list-group-item active">Artisti</a>
            <a href="/regione/sicilia" class="list-group-item">Sicilia</a>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                Basic panel example
            </div>
        </div>

    </div>
</div>