<%- layout('site_layout') %>

<div class="row">
    <div class="col-xs-12">
        <h1>Quadri Moderni</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam assumenda doloremque, doloribus error et ipsam magnam modi mollitia, nisi porro quidem rem similique soluta ullam veritatis voluptate. Inventore, officiis!</p>
        <hr/>
    </div>
</div>

<div class="well">
    <form action="" method="get" enctype="application/x-www-form-urlencoded">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label>Quadro</label>
                    <input type="search" class="form-control" name="" id="" placeholder="" required="">
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label>Tecnica</label>
                    <select class="form-control" name="" id="" required="">
                        <option value="">-</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label>Categoria</label>
                    <select class="form-control" name="" id="" required="">
                        <option value="">-</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="form-group">
                    <label>Prezzo</label>
                    <input type="text" class="form-control" name="" id="" placeholder="10.00" required="">
                </div>
            </div>
            <div class="col-xs-2">
                <input type="submit" class="btn btn-default btn-block btn-lg" value="CERCA">
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>&nbsp;</p>
    </div>
</div>

<div class="row">
    <% for(var i = 0; i < supplies.length; i++) { %>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/artista/lorem"><img src="http://placehold.it/480x320" class="img-responsive" alt=""/></a>
                <p>Lorem ipsum dolor sit amet</p>
                <ul class="list-inline pull-right">
                    <li><a href="" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <% } %>
</div>