<%- layout('site_layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Artisti Contemporanei</h1>
        <p>Accusamus aliquam assumenda doloremque, doloribus error et ipsam magnam modi mollitia, nisi porro quidem rem similique soluta ullam veritatis voluptate. Inventore, officiis!</p>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">Categoria</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><a href="/categoria/pittura">Pittura</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Artisti</div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><a href="/regione/sicilia">Sicilia</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                Basic panel example
            </div>
        </div>
    </div>
</div>