<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quick Art</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>

<body>

<div class="container">

    <div class="row">
        <div class="col-xs-6">
            <a href=""><img src="http://placehold.it/350x150" alt=""/></a>
        </div>
        <div class="col-xs-6">
            <ul>
                <li><a href="">Home</a></li>
            </ul>
        </div>
    </div>

    <%- body %>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>

</body>
</html>