<% title = 'Oops, pagina non trovata' %>
<%- layout('layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>404 - PAGINA NON TROVATA</h1>
        <p class="lead">Oops, pagina non trovata!</p>
        <p>Siamo spiacenti ma non siamo riusciti a trovare la pagina che stavi cercando.</p>
        <p>Potrebbe trattarsi di un errore di scrittura dell'URL oppure la pagina cercata potrebbe essere stata spostata.</p>
        <p><i>E' anche possibile che si tratti di una pagina riservata agli utenti registrati e che per poterla leggere sia necessario effettuare la <a href="registrazione">registrazione</a> o il <a href="extranet">login</a></i></p>
        <p><a href="/" class="btn btn-default">Torna all'home page</a></p>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-250.ejs %>
            </div>
        </div>
    </div>
</div>

