<% title = 'Chi Siamo' %>
<%- layout('layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Chi Siamo</h1>
        <p class="lead">Vecchio Concetto: Grafico, sviluppatore e amante per l'Arte...</p>
        <p>Quick-Art è un portale web sull'Arte nato nel 2008 da un'idea di Vecchio Concetto, giovane grafico e sviluppatore di siti web, figlio d'arte con una forte passione per il mondo artistico, diplomatosi all'Istituto Statale d'Arte in un piccolo paesino della Sicilia. Spinto dalla curiosità verso il mondo complesso dell'Arte, ha voluto riunire in rete Artisti e appassionati d'Arte Contemporanea.</p>
        <p>Da Febbraio 2006 è in rete Itinerario dell'Arte un Portale di Storia dell'Arte che permette un vasto escursus storico tra le meravigliose Opere che possono chiamarsi artistiche... Vista la complessità delle Opere, delle categorie e dei periodi artistici, Concetto ha deciso di fare una distinzione creando Quick-Art, il Network di Itinerario dell'Arte, riunendo nel primo solo ciò che riguarda l'Arte Contemporanea creando il maggiore Database di Artisti Moderni e Contemporanei in tutta Italia. </p>
        <p>Con Questo Network ha voluto contraddistinguersi per la ricchezza di contenuti e per le iniziative che continuano ad entusiasmare Artisti ed appassionati d'Arte, ha arricchito gli spazi espositivi all'interno della Galleria virtuale e vuole incrementare sempre di piu lo scambio di idee ed opinioni per far conoscere altre persone che condividono la stessa passione per l'Arte. </p>
        <p>Su Quick-Art potete trovare, tutto ciò che può servire alla ricerca di informazioni, notizie, link relativi al mondo dell'Arte Contemporanea, al mondo della Scultura, della Pittura e della Fotografia. In oltre ti mette a disposizione la segnalazione di mostre sempre aggiornate, recensioni sugli Artisti, segnalazione di fiere, iniziative, corsi e concorsi d'arte. </p>
        <p><i>L'iniziativa di questo portale è quella di dare maggiore visibbilità a tutti gli Artisti per farli conoscere nel mondo del web. Tutti i servizi sono interamenre GRATUITI ... </i></p>
        <p><strong>Riferimenti</strong></p>
        <ul>
            <li>La Redazione è operativa dal lunedi al venerdi (festività escluse)</li>
            <li>Capo Redazione : Concetto Vecchio</li>
            <li>Per informazioni o suggerimenti scrivete a quickartprojects@gmail.com</li>
        </ul>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-250.ejs %>
            </div>
        </div>
    </div>
</div>