<% title = 'Risultati della ricerca' %>
<%- layout('layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Grazie per aver aderito al nostro Portale !!!</h1>
        <p class="lead">Ti ringraziamo per la tua richiesta di iscrizione a Quick-Art.</p>

        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            La tua registrazione è andata a buon fine, il tuo Account è stato attivato con successo.
        </div>

        <p><i>Adesso inizia a pubblicare le tue Opere...</i></p>
        <hr/>
        <p>Siamo lieti di averti ospitato nel nostro Portale e di avere avuto la tua attenzione. Ti auguriamo di vivere con intensità e forza l'Arte come esperienza di vita che arricchisce e distingue la propria personalità...</p>
        <p><a href="/extranet" class="btn btn-primary">Clicca quì per accedere alla tua Area Riservata!</a></p>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-250.ejs %>
            </div>
        </div>
    </div>
</div>

