<%- layout('layout') %>

<div class="row">
    <div class="col-xs-8">
        <h1>Risultati della ricerca</h1>
        <p class="lead">Catalogo delle Opere d'Arte dell'Archivio Contemporaneo</p>
        <script type="text/javascript">
            var start = new Date();
            var startsec = start.getTime();
            var num = 0;
            for (var i = 0; i < 250000; i++) {
                num++;
            }
            var stop = new Date();
            var stopsec = stop.getTime();
            var loadtime = ( stopsec - startsec ) / 1000;
            document.write("(caricati in: " + loadtime + " secondi)");
        </script>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">Ricerca Avanzata</div>
            <div class="panel-body">
                <p>...</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include adsbygoogle-300-600.ejs %>
            </div>
        </div>
    </div>
</div>
