<%- layout('layout') %>
<%- include header.ejs %>

<div class="panel panel-default">
    <div class="panel-heading">Artisti Contemporanei</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table" id="js-full-artists">
                <thead>
                <tr>
                    <th>Artista</th>
                    <th>Categoria</th>
                    <th>Regione</th>
                    <th>Account</th>
                    <th>Registrazione</th>
                    <th>Operazioni</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>