<%- layout('layout') %>
<%- include header.ejs %>

<div class="panel panel-default">
    <div class="panel-heading">Benvenuto, <%= user.fullname %></div>
    <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid animi, aut blanditiis dignissimos distinctio dolore eaque eum id ipsa, iure iusto maxime molestias mollitia natus obcaecati omnis rerum.</p>
    </div>
</div>