<div class="row">
    <div class="col-xs-4">
        <a href="/" target="_blank"><img src="/images/logo.png" alt=""/></a>
    </div>
    <div class="col-xs-8">
        <br/>
        <ul class="nav nav-pills pull-right">
            <li><a href="/administrator/dashboard">Dashboard</a></li>
            <li><a href="/administrator/artists">Artisti</a></li>
            <li><a href="/administrator/articles">Articoli</a></li>
            <li><a href="/administrator/logout">Logout</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>&nbsp;</p>
    </div>
</div>
