<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quick Art | Administrator</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/jquery.dataTables.css" rel="stylesheet">
    <link href="/css/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="/css/administrator.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <%- body %>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/js/jquery.stringToSlug.js"></script>
<script src="/js/jquery.isloading.js"></script>
<script src="/js/bootstrap-tagsinput.js"></script>
<script src="/js/jquery.administrator.js"></script>

</body>
</html>