<div class="bar bar-standard bar-header-secondary">
    <form action="/mobile/search" method="get" enctype="application/x-www-form-urlencoded">
        <input type="search" name="q" value="" required="" placeholder="Cerca Artisti, Pittori Contemporanei...">
    </form>
</div>
