<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Quick Art</title>
    <link href="/mobile/css/ratchet.min.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/mobile/js/ratchet.min.js"></script>
    <script src="/js/jquery.resizecrop.js"></script>
    <script src="/mobile/js/hide-address-bar.js"></script>
    <script src="/js/jquery.mobile.js"></script>
</head>

<body>
<%- body %>
</body>
</html>