<div class="modal" id="menu">
    <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#menu"></a>
        <h1 class="title">Benvenuti su Quick-Art</h1>
    </header>
    <div class="content">
        <div class="content-padded">
            <p>Il più grande catalogo On-Line degli Artisti Contemporanei Italiani...</p>
            <p>Finalmente On-line il nuovo servizio dedicato all'Arte Moderna che nasce con lo scopo di fornire agli Artisti Contemporanei uno spazio espositivo gratuito e di alta qualità. L'iniziativa ha l'ambizione di costruire in breve tempo uno dei maggiori Database di Artisti Italiani presenti nel Web dove si potranno effettuare ricerche e scoprire direttamente idee, talenti e nuove tendenze nel mondo artistico in tutti i suoi aspetti.</p>
            <p>Quick-Art, ti permette anche di acquistare le Opere degli Artisti: per ogni artista presentato c'è un modulo che permette al visitatore di fare una semplice Richiesta per ogni opera esposta. Quick-Art si impegna per altro a soddisfare le esigenze degli Artisti e di coloro che vogliano comprare Quadri e Opere Artistiche...</p>
            <p>Questo è il primo Portale interamente dedicato ai Pittori Contemporanei che offre una transazione diretta con l’artista senza nessuna intermediazione e senza alcun ricarico sulle opere d’arte. Semplicemente ti mette in contatto diretto con l’Artista.</p>
            <p><strong>Riferimenti</strong></p>
            <ul>
                <li>La Redazione è operativa dal lunedi al venerdi (festività escluse)</li>
                <li>Capo Redazione : Concetto Vecchio</li>
                <li>Per informazioni o suggerimenti scrivete a quickartprojects@gmail.com</li>
            </ul>
        </div>
    </div>
</div>
