<nav class="bar bar-tab">
    <a class="tab-item active" href="/mobile">
        <span class="icon icon-home"></span>
        <span class="tab-label">Home</span>
    </a>
    <a class="tab-item" href="/mobile/categories">
        <span class="icon icon-bars"></span>
        <span class="tab-label">Categorie</span>
    </a>
    <a class="tab-item" href="#">
        <span class="icon icon-search"></span>
        <span class="tab-label">Catalogo</span>
    </a>
    <a class="tab-item" href="/mobile/events">
        <span class="icon icon-star"></span>
        <span class="tab-label">Eventi</span>
    </a>
</nav>
