<%- layout('layout') %>

<header class="bar bar-nav">
    <a href="/mobile" data-transition="slide-in" class="icon icon-left-nav pull-left"></a>
    <a href="#menu" class="icon icon-info pull-right"></a>
    <h1 class="title">Search</h1>
</header>

<%- include form-search.ejs %>
<%- include nav.ejs %>

<div class="content">

</div>

<%- include modal.ejs %>
